*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f33832;
}
h1{
    margin: 100px auto 50px;
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    opacity: 0.5;
}
.todo-list{
    font-size: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.todo-list__add-item{
    margin: 0 auto;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
.todo-list__button{
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 10px 5px;
    outline: none;

}
.todo-list__input{
    width: 450px;
    height: 46px;
    border: black 3px solid;
    outline: none;
}






.todo-list__delete-item{
    display: none;
}

.todo-list__item{
    margin: 0 auto;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
.todo-list__text{
    background-color: white;
    width: 450px;
    height: 46px;
    border: black 3px solid;
    outline: none;
}
.todo-list__button-delete{
    background-color: darkred;
}